body{
	background-color: #ffffff;
	font-family: 'Open Sans Condensed', 'Montserrat', sans-serif, Arial, Time new Roman, Verdana;
	font-size: 15px;
	font-size: 14px\0/;
	border: 0px;
	margin: 0px;
}

.md-modal {
	width: 100%;
	max-width: 850px;
	height: auto;
	margin: 0px auto;
	top: 0px;
	left: 0px;
	text-align: center;
}

/* Content styles */
.md-content {
	width: 850px;
	height: 400px;
	color: #000;
	background: #ffffff;
	position: relative;
	margin: 0px auto;
}

.md-content > div {
	padding: 10px;
	margin: 0;
	font-weight: 300;
	font-size: 16px;
}

.md-content > div p {
	margin: 0;
	padding: 15px 0;
	text-align: center;
}

/*zona dowload input e bottone per inviare email*/
.dowload{
	width: 200px;
	height: 250px;
	background-color: #ffffff;
	margin-left: 30px !important;
	float: left;
}

.dowload img{
	width: 100%;
}

.promozione{
	width: 550px;
	height: 110px;
	margin: 0px 35px;
	float: left;
}

.promozione p{
	font-family: 'Montserrat', sans-serif, Arial, Time new Roman, Verdana;
	font-size: 20px;
	padding: 0px !important;
}
.promozione input{
	width: 90%;
	margin: 25px 20px;
	background-color: #ffffff;
}

input {
	height: 40px;
	width: 215px;
	font-family: inherit;
	border: 1px solid #000000;
	border-radius: 10px;
	color: #000000;
	font-size: 15px;
	margin: 0px 0px 12px;
	padding-left: 10px;
	float: left;
}

.header .bottone {
	width: 200px;
	height: 55px;
	color: #ffffff;
	font-size: 20px;
	font-family: 'Open Sans Condensed', sans-serif, Arial, Time new Roman, Verdana;
	margin-top: 295px;
	margin-left: 120px;
	background-color: #f33131;
	border: 2px solid #c80707;
	border-radius: 10px 10px 10px 10px;
	float: left;
}

.header .bottone p{
	margin: 15px 25px;
	font-size: 16px;
	text-align: center;
}

.button{
	width: 550px;
	height: 50px;
	text-align: center;
}
.privacy{
	width: 580px;
	height: 30px;
	padding: 0px !important;
	margin-top: 5px !important;
	float: left;
}
.privacy p{
	font-size: 15px;
	font-family: Arial, Time new Roman, Verdana;
	padding: 0px !important;
	margin: 0px !important;
}
.bottone-acquista {
	width: 200px;
	height: 55px;
	margin-top: 295px;
	margin-left: 350px;
	background-color: #F29120;
	border: 2px solid #BC670F;
	border-radius: 10px 10px 10px 10px;
	font-size: 20px;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif, Arial, Time new Roman, Verdana;
	float: left;
}

button {
	border-bottom: 2px solid #ffb403;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	background: #F2C105;
	color: #ffffff;
	font-size: 20px;
	font-family: 'Open Sans Condensed', sans-serif, Arial, Time new Roman, Verdana;
	cursor: pointer;
	display: inline-block;
	margin: 0px 0px;
	width: 70%;
	height: 50px;
}

.button button:hover {
	background: #ffcb01;
}

.bottone-acquista a:hover{
	background-color: #DE9643 !important;
}