.bodygalleria{background-color:inherit;color:#232323;font-family:Arial,Helvetica,sans-serif;font-size:12px;margin:0;padding:0;background:#fff url("../immagini/sfondo1.jpg") repeat-x;}
.generale{position:absolute;left:50%;margin-left:-497px;}
.sopra{background:url("../immagini/bg-topline.png") repeat-x scroll 0 0 transparent;margin:0;padding:0;height:86px;}
.boxsopra{padding:0;width:995px;height:86px;}
.logo{float:left;width:425px;height:70px;padding-top:13px;padding-left:30px;}
.logo img{border:0;}
.mainmenu{background:url("../immagini/bg-mainmenu.png") no-repeat scroll right 6px transparent;height:29px;margin:34 10px 0 0;padding:0 2px 0 0;width:510px;float:left;}
.mainmenu a:hover{color:#0082C0;}
.linkmenu{background-attachment:scroll;background-color:inherit;background-image:url("../immagini/bg-mainmenu.png");background-position:0 6px;background-repeat:no-repeat;color:#232323;display:block;float:left;font-size:16px;font-weight:normal;margin:0;padding:8px 15px 2px 16px;text-decoration:none;}
.header9{background:#FFCF0F url("../immagini/header9.jpg") no-repeat 50%;color:inherit;margin:0;padding:0;height:250px;width:950px;}
.descmotto{width:336px;height:200px;margin-left:50px;padding-top:50px;}
.descmotto h4{font-size:18px;}
.descmottoo div{font-size:16px;}
.descmotto a{font-weight:bold;color:#000;}
.sotto1{background:url("../immagini/bg-content-1.png") repeat-x scroll 0 0 #FFFFFF;margin:0;height:25px;width:950px;}
.boxmadre3{width:948px;height:250px;margin-left:50px;}
.errore404{font-size:18px;}
.errore404 a{text-decoration:none;color:#000;}
.titolo404{font-size:30px;font-weight:bold;}
.copyright{width:991px;font-size:14px;font-family:Arial;color:#666;padding-top:10px;padding-bottom:20px;height:130px;}
.copyright a{font-size:14px;font-family:Arial;color:#666;text-decoration:none;}
.copyright a:hover{text-decoration:underline;}
.piva{float:left;text-align:right;font-size:12px;font-family:Arial;}
.piva a{font-size:12px;font-family:Arial;color:#666;text-decoration:none;}
.piva a:hover{text-decoration:underline;}
.logocopyright{float:left;width:685px;}
.arkocopyright{padding-left:10px;}