.bodygalleria{background-color:inherit;color:#232323;font-family: 'Open Sans',Helvetica,sans-serif;font-size:12px;margin:0;padding:0;background:#fff url("../immagini/sfondo1.jpg") repeat-x;}
.generale{position:absolute;left:50%;margin-left:-497px;}
.sopra{background:url("../immagini/bg-topline.png") repeat-x scroll 0 0 transparent;margin:0;padding:0;height:86px;}
.boxsopra{padding:0;width:995px;height:86px;}
.logo{float:left;width:425px;height:70px;padding-top:13px;padding-left:30px;}
.logo img{border:0;}
.mainsubmenu{margin:0;padding:0;width:545px;}
.submenu{bottom:auto;clear:both;left:auto;margin:0;padding:0;position:absolute;right:20px;top:64px;width:570px;}
.submenu-active1{background:url("../immagini/bg-submenu-td1.png") no-repeat scroll 0 0 transparent;width:10px;height:31px;float:left;}
.submenu-active2{background:url("../immagini/bg-submenu-td2.png") repeat-x scroll 0 0 transparent;float:left;height:31px;width:550px;}
.submenu-active3{background:url("../immagini/bg-submenu-td3.png") no-repeat scroll 0 0 transparent;width:10px;height:31px;float:left;}
.linksubmenu{background-attachment:scroll;background-color:inherit;background-image:url("../immagini/bg-submenu.gif");background-position:right 8px;background-repeat:no-repeat;color:#464646;display:block;float:left;font-size:11px;font-weight:bold;margin:0;padding:6px 11px 8px 9px;text-decoration:none;}
.linksubmenu:hover{color:#D10000;}
.subattivo{background-attachment:scroll;background-color:inherit;background-image:url("../immagini/bg-submenu.gif");background-position:right 8px;background-repeat:no-repeat;color:#D10000;display:block;float:left;font-size:11px;font-weight:bold;margin:0;padding:6px 11px 8px 9px;text-decoration:none;}
.mainmenu{background:url("../immagini/bg-mainmenu.png") no-repeat scroll right 6px transparent;height:29px;margin:34 10px 0 0;padding:0 2px 0 0;width:510px;float:left;}
.mainmenu a:hover{color:#0082C0;}
.linkmenu{background-attachment:scroll;background-color:inherit;background-image:url("../immagini/bg-mainmenu.png");background-position:0 6px;background-repeat:no-repeat;color:#232323;display:block;float:left;font-size:16px;font-weight:normal;margin:0;padding:8px 15px 2px 16px;text-decoration:none;}
.mainmenu-active{background:url("../immagini/bg-mainmenu.png") no-repeat scroll 0 6px transparent;height:31px;float:left;margin:0;padding:0 5px 0 6px;position:relative;}
.mainmenu-active1{background:url("../immagini/bg-mainmenu-active-td1.png") no-repeat scroll 0 0 transparent;width:10px;height:31px;float:left;}
.mainmenu-active2{background:url("../immagini/bg-mainmenu-active-td2.png") repeat-x scroll 0 0 transparent;padding:4px 0 0;height:31px;float:left;}
.mainmenu-active2 a{background-attachment:scroll;background-color:inherit;background-position:0 6px;background-repeat:no-repeat;color:#D10000;display:block;float:left;font-size:16px;font-weight:normal;margin:0;padding:8px 15px 2px 16px;text-decoration:none;}
.mainmenu-active3{background:url("../immagini/bg-mainmenu-active-td3.png") no-repeat scroll 0 0 transparent;width:10px;height:31px;float:left;}
.header5{background:#FFCF0F url("../immagini/header5.jpg") no-repeat 50%;color:inherit;margin:0;padding:0;height:250px;width:950px;}
.sotto1{background:url("../immagini/bg-content-1.png") repeat-x scroll 0 0 #FFFFFF;margin:0;height:25px;width:950px;}
.descmotto1{width:336px;height:200px;margin-left:50px;padding-top:20px;}
.descmotto1 h4{font-size:18px;height:30px;margin-top:-1px;}
.descmotto1 div{font-size:14px;}
.boxmadreacquistaaa{width:991px;height:1060px;}
.boxacquista{margin-left:30px;}
.boxsinistra{float:left;width:700px;}
.titoloacquista1{font-size:30px;font-weight:bold;height:50px;}
.modalita{width:600px;height:100px;}
.campoobbligatorio3{font-size:14px;color:#FF0000;margin-top:15px;}
.titolo1{height:40px;width:580px;margin-top:30px;background-color:#000;padding-top:10px;padding-left:10px;color:#fff;font-family: 'Open Sans';font-size:16px;font-weight:bold;}
.titolo1 label{font-size:12px;color:#fff;}
.spacee{padding-right:40px;}
.space1{padding-right:150px;}
.space3{padding-right:77px;}
.titolo2{height:37px;width:580px;background:#EBEBEB url("../immagini/menu1.jpg") repeat-x;margin-top:3px;padding-left:10px;padding-top:10px;color:#000;font-family: 'Open Sans';font-size:16px;font-weight:bold;}
.spaceex{padding-right:35px;text-decoration:line-through;}
.space3a{padding-right:94px;}
.titolo4{height:37px;width:580px;background:#EBEBEB url("../immagini/menu1.jpg") repeat-x;margin-top:3px;padding-top:10px;padding-left:10px;color:#000;font-family: 'Open Sans';font-size:16px;font-weight:bold;}
.titolo4 div{width:335px;float:left;margin-top:3px;margin-left:91px;}
.titolo5{height:37px;width:580px;background:#EBEBEB url("../immagini/menu1.jpg") repeat-x;margin-top:3px;padding-top:10px;padding-left:10px;color:#FF0000;font-family: 'Open Sans';font-size:16px;font-weight:bold;}
.titolo5 div{width:335px;float:left;margin-top:3px;margin-left:91px;}
.titolo3{height:37px;width:235px;background:#EBEBEB url("../immagini/menu2.jpg") repeat-x;margin-top:3px;margin-left:345px;padding-left:10px;padding-top:10px;color:#000;font-family: 'Open Sans';font-size:16px;font-weight:bold;}
.space2{padding-right:54px;}
.space0{padding-right:25px;}
.space0 label{font-size:9px;color:#000;}
.campoobbligatorio2{font-size:14px;color:#FF0000;margin-top:35px;}
.boxdestra{float:left;width:250px;height:100px;}
.campoacquista{width:150px;height:40px;float:left;}
.campoacquista div{padding-top:10px;font-size:16px;font-family: 'Open Sans';font-weight:bold;}
.inputacquista{width:530px;height:43px;vertical-align:bottom;}
.inputacquista input{width:300px;height:30px;font-size:18px;background:#fff url("../immagini/campodownload.jpg") repeat-x;border:1px solid #000;padding-top:-10px;}
.textareaacquista textarea{background:#FFCC00;border:1px solid #000;}
.textareaacquista{width:540px;height:140px;}
.textareaacquista1{width:540px;height:90px;}
.anteprima{margin-left:10px;vertical-align:bottom;border:0;}
.bottonescarica1{text-align:right;width:532px;}
.copyright{width:991px;font-size:14px;font-family: 'Open Sans';color:#666;padding-top:10px;padding-bottom:20px;height:130px;}
.copyright a{font-size:14px;font-family: 'Open Sans';color:#666;text-decoration:none;}
.copyright a:hover{text-decoration:underline;}
.piva{float:left;text-align:right;font-size:12px;font-family: 'Open Sans';}
.piva a{font-size:12px;font-family: 'Open Sans';color:#666;text-decoration:none;}
.piva a:hover{text-decoration:underline;}
.logocopyright{float:left;width:670px;}
.arkocopyright{padding-left:10px;}
.messaggio1{font-size: 16px;}
.errore{background-color: #FFCCCC;width: 800px;height: 50px;padding: 5px;border: 1px solid #000;margin-bottom: 20px;}
.esatto{background-color: #CAFFCA;width: 800px;height: 30px;padding-left: 5px;padding-top: 15px;font-weight: bold;border: 1px solid #000;margin-bottom: 20px;}
.omaggio{margin-top: 2px; color:#000000; padding-left: 96px;padding-top: 10px;width: 495px; width: 580px\9; height: 30px; height: 40px\9; font-size: 16px; font-weight: bold; background:#EBEBEB url("../immagini/menu1.jpg") repeat-x;}
.smsgratuiti{color: #FF0000;padding-left: 255px;}